body{
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

.top{
    background-color: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    padding-top:10px;
    flex: 0 5 auto;
}

.Headerlogo{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.sidetext{
    flex: 1 1 300px;
}


ul{
    margin: 0;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 9px;
}

a{
    text-decoration: none;
    color: white ;
}

button{
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 5px 20px ;
    cursor: pointer;
    margin-top: 8px;
}

.below_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
}

.awesome{
    font-size: 48px;
    font-weight: 900;
}

.this{
    color: #9ca3af;
    font-size: 20px;
    width: 65%;
}

.dogimage{
    flex: 1 1 300px;
    max-height: 250px;
    object-fit: cover;
}