body{
    display: flex;
    flex-direction: column;
    margin: 0;
    flex: 1;
}

/*####[ FIRST SECTION ]####*/
.first{
    background: #1f2937;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 0px 130px 80px 130px; 

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    padding-top:10px;
    flex: 0 5 auto;
}

.Headerlogo{
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

ul{
    margin: 0;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 9px;
}

a{
    text-decoration: none;
    color: white ;
}

.below_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidetext{
    flex: 1 1 300px;
}

.awesome{
    font-size: 48px;
    font-weight: 900;
    max-width: 550px;
}

.this{
    color: #9ca3af;
    font-size: 20px;
    max-width: 500px;
}

.dogimage{
    flex: 1 1 300px;
    max-height: auto;
    max-width: 600px;
}

button{
    background-color: #3882f6;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 5px 20px ;
    cursor: pointer;
    margin-top: 8px;
}
/* #####[ SECOND SECTION ]#####*/
.second{
    background-color: white;
    color: black;
    padding: 20px 80px 40px 80p;
}

.secondtitle{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 20px;
}

.cards{
    display: flex;
    padding-top: 50px;
    gap: 20px;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.border{
    width: 155px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid #3882f6;
}

.subtext{

    padding: 5px 35px 35px 35px;
    font-size: 14px;
    max-width: 125px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

/* #####[ THIRD SECTION ]#####*/
.third{
    background-color: #E5E7EB;
}